/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --shadow-color: #ff0070;
  --border-color: #ff0070;
  --title-color: #db00ff;
  --decor-color: #000028;
  --decor-bg-color: #ff0070;
  --page-text-color: #f1b2ce;
  --page-bg-color: #000028;
  --link-shadow: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --hover-link:#F1B2CE;
  --page-bg-img: url(../images/cover-image-dark.png);
  --hidden-owerflow: visible;
  --hidden-const: auto;
}
