/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --shadow-color: #ff0070;
  --border-color: #353430;
  --accent-color: #ffc2e6;
  --title-color: #ffc2e6;
  --decor-color: #353430;
  --decor-bg-color: #ff8dcb;
  --page-text-color: #353430;
  --page-bg-color: #fff1f7;
  --link-shadow: #f1b2ce;
  --hover-color: rgb(50, 49, 45, 0.4);
  --text-font: "IBM Plex Mono", monospace;
  --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --page-bg-img: url(../images/cover-image-light.png);
  --hidden-owerflow: hidden;
  --hidden-const: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --shadow-color: #ff0070;
    --border-color: #353430;
    --accent-color: #ffc2e6;
    --title-color: #ffc2e6;
    --decor-color: #353430;
    --decor-bg-color: #ff8dcb;
    --page-text-color: #353430;
    --page-bg-color: #fff1f7;
    --link-shadow: #f1b2ce;
    --hover-color: rgb(50, 49, 45, 0.4);
    --text-font: "IBM Plex Mono", monospace;
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-bg-img: url(../images/cover-image-light.png);
    --hidden-owerflow: hidden;
    --hidden-const: 0;
  }
}
