/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --page-bg-img: url(../images/cover-image-light.png);
    --color-bg: rgba(255, 241, 247, 1);
    --color-text: rgba(53, 52, 48, 1);
    --color-text-shadow:rgba(255, 0, 112, 1) ;
    --color-title-bg: rgba(255, 141, 203, 1);
    --color-focus: rgba(255, 194, 230, 1);
    --border-color: #353430;
    --hover-color: rgb(50, 49, 45, 0.40);


  .header__rec_light {
    color: var(--color-bg);
  }
  
  .header__rec_light::after {
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-bg);
    top: 5px;
    right: -19px;
    box-shadow: 0 0 4px 2px var(--color-bg);
  }
}
