/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --shadow-color: #ff8dcb;
  --border-color: #353430;
  --title-color: #ffc2e6;
  --decor-color: #353430;
  --decor-bg-color: #ff8dcb;
  --page-text-color: #353430;
  --page-bg-color: #fff1f7;
  --link-shadow: #ff8dcb;
  --hover-color: #32312d66;
  --hover-link:#353430;
  --page-bg-img: url(../images/cover-image-light.png);
  --hidden-owerflow: hidden;
  --hidden-const: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    --shadow-color: #ff8dcb;
    --border-color: #353430;
    --title-color: #ffc2e6;
    --decor-color: #353430;
    --decor-bg-color: #ff8dcb;
    --page-text-color: #353430;
    --page-bg-color: #fff1f7;
    --link-shadow: #ff8dcb;
    --hover-color: #32312d66;
    --hover-link:#353430;
    ;
    --page-bg-img: url(../images/cover-image-light.png);
    --hidden-owerflow: hidden;
    --hidden-const: 0;
  }
}
