/*↓↓↓↓ Блок со стилями для всей страницы ↓↓↓↓*/
.page {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  gap: 60px;
  color: var(--border-color);
  font-family: var(--text-font);
  line-height: 23.4px;
  background-image: var(--page-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*↓↓↓↓ Блок со стилями для мэйна ↓↓↓↓*/
.main {
  padding: 0 20px 0 20px;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
}

.main-title {
  font-size: 18px;
  font-weight: 700;
}

.title-decor {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
}

.main-text {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  color: var(--page-text-color);
}

.card-title-gold {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-size: 18px;
  font-weight: 400;
}

/*↓↓↓↓ Блок со стилями для ссылок ↓↓↓↓*/
.text-link {
  text-shadow: 2px 2px 0 var(--link-shadow);
  text-decoration: none;
}

.text-link:hover {
  border-block-end: 1px solid var(--border-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--border-color);
}

/*↓↓↓↓ Блок со стилями для карточки ↓↓↓↓*/
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card-title {
  color: var(--decor-color);
  background-color: var(--decor-bg-color);
  font-size: 18px;
  font-weight: 700;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
  color: var(--page-text-color);
}

/*↓↓↓↓ Блок со стилями для секций ↓↓↓↓*/
.section__horizontal {
  display: grid;
  gap: 20px;
  grid-template-columns: fit-content(32%) fit-content(68%);
  padding-block-end: 80px;
}

.section__vertical {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
  padding-block-end: 80px;
}

/*↓↓↓↓ Блок со стилями для хедера ↓↓↓↓*/
.header {
  height: 100vh;
  min-height: 768px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;
}

.decorated-zone:before {
  content: "";
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
  right: 20px;
  top: 23px;
}

.header__rec {
  display: flex;
  position: absolute;
  top: 25px;
  right: 50px;
  text-transform: uppercase;
  inline-size: var(--hidden-const);
  block-size: var(--hidden-const);
  overflow: var(--hidden-owerflow);
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  top: 5px;
  right: -19px;
  border-radius: 50%;
  background-color: var(--border-color);
  box-shadow: 0 0 4px 2px var(--border-color);
}

.header__theme-menu {
  font-size: 18px;
  font-weight: 400;
}

.header__theme-menu-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  padding-inline: 11.5px;
  padding-block: 3px;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:active {
  border: 1px solid currentColor;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-item:has(:focus-visible) {
  border-bottom: 1px solid var(--decor-color);
}

.header__title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-block-start: 6.1%;
  margin-inline-start: -1.8%;
  font-weight: 700;
  line-height: 82.5%;
}

.header__description {
  inline-size: 50%;
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 6.05%;
  margin-block-end: 11.6%;
  align-self: center;
  justify-self: end;
}
/*↓↓↓↓ Блок со стилями для  секции "Почему cосредоточиться так сложно?"↓↓↓↓*/

.section__hard-to-concentrate-description {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

/*↓↓↓↓ Блок со стилями для секции "Что снижает концентрацию внимания?" ↓↓↓↓*/
.section__reduced-concentration-title {
  inline-size: 35%;
}

.section__reduced-concentration-description {
  display: grid;
  grid-template-columns: repeat(3, fit-content(32%));
  gap: 20px;
}

/*↓↓↓↓ Блок со стилями для секции "Как концентрироваться лучше, чем золотая рыбка" ↓↓↓↓*/
.section__gold-fish-description {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

/*↓↓↓↓ Блок со стилями для секции "А можно в картинках?"↓↓↓↓*/
.section__images {
  display: grid;
  gap: 20px;
}

.images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, fit-content(33%));
  grid-template-rows: repeat(3, fit-content(33%));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.img__sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img__icecream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img__tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img__books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img__street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*↓↓↓↓ Блок со стилями для футера ↓↓↓↓*/
.footer {
  padding: 0 20px 20px 20px;
  display: flex;
  height: 100vh;
  min-height: 668px;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
}

.footer__title {
  font-size: var(--title-size);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-block-start: 3vh;
}

/*↓↓↓↓ Блок со стилями для разрешений меньше 1024 ↓↓↓↓*/
@media (width < 1024px) {
  .header {
    height: 100vh;
    min-height: 1024px;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 8px;
    align-items: end;
    margin-block-start: 23%;
  }

  .header__title {
    margin-block-start: 16%;
    margin-inline-start: -2.4%;
  }

  .header__description {
    margin-block-end: 22.1%;
  }

  .section__reduced-concentration-title {
    inline-size: 25%;
  }
  .section__hard-to-concentrate-description {
    margin-inline-start: 0.8%;
  }

  .section__reduced-concentration-description {
    display: grid;
    grid-template-rows: fit-content(32%) fit-content(32%) fit-content(36%);
    grid-template-columns: repeat(1, fit-content(100%));
  }

  .section__gold-fish-description {
    margin-inline-start: 0.65%;
  }

  .footer__title {
    margin-block: 30vh;
    margin-block-start: 45%;
  }
}

/*↓↓↓↓ Блок со стилями для разрешений меньше 768 ↓↓↓↓*/
@media (width < 768px) {
  .header {
    height: 100hv;
    min-height: 668px;
    padding: 10px;
  }

  .header__title {
    margin-block-start: 17%;
    margin-inline-start: -0.5%;
  }

  .header__description {
    margin-block-start: 14%;
  }

  .header__theme-menu-list {
    margin-block-start: 17%;
    margin-inline-end: 1%;
    gap: 7px;
  }
/* 
  .title-decor {
    inline-size: 99%;
  }

  .card-title {
    inline-size: 98.5%;
  }

  .card-title-gold {
    inline-size: 98.5%;
  }

  .card-text {
    inline-size: 98.5%;
  } */

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorated-zone:before {
    bottom: 10px;
    left: 10px;
  }

  .header__rec {
    top: 11px;
    right: 40px;
  }

  .page {
    gap: 40px;
  }

  .main {
    padding: 0 10px 0 10px;
  }

  .section__hard-to-concentrate-title {
    inline-size: 90%;
  }

  .section__reduced-concentration-title {
    inline-size: 80%;
  }

  .section__horizontal {
    grid-template-columns: fit-content(100%);
    grid-template-rows: fit-content(32%) fit-content(68%);
    padding-block-end: 50px;
  }

  .section__vertical {
    padding-block-end: 50px;
  }

  .section__images {
    gap: 10px;
  }

  .images {
    inline-size: 98.5%;
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(auto-fit, fit-content(100%));
    gap: 10px;
  }

  .img__sunset {
    grid-column: auto;
    grid-row: auto;
  }

  .img__icecream {
    grid-column: auto;
    grid-row: auto;
  }

  .img__tape {
    grid-column: auto;
    grid-row: auto;
  }

  .img__books {
    grid-column: auto;
    grid-row: auto;
  }

  .img__street {
    grid-column: auto;
    grid-row: auto;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    height: 100hv;
    min-height: 668px;
    font-size: var(--title-size);
    font-weight: 700;
    line-height: 95.7px;
    margin-block-end: -115%;
  }
}
