/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Основные стили проекта ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.page {
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: 23.4px;
  letter-spacing: -0.3px;
  background-attachment: fixed;
}

.main {
  background-color: var(--color-bg);
  color: var(--color-text);
  padding: 20px 20px 0 20px;
}

.main__title-h2 {
  color: var(--color-title-bg);
  font-size: var(--font-size-h2);
}

.main__title-h3 {
  background-color: var(--color-title-bg);
  color: var(--color-text-black);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.main__title-five-rec {
  background-color: var(--color-title-bg);
  color: var(--color-text-black);
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.main__title-bold {
  background-color: var(--color-title-bg);
  color: var(--color-text-black);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.3px;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Хедер ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.decorated-zone::after {
  position: absolute;
  content: "";
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--color-title-bg);
  border-top: 1px solid var(--color-title-bg);
}

.decorated-zone::before {
  position: absolute;
  left: 20px;
  bottom: 20px;
  content: "";
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--color-title-bg);
  border-bottom: 1px solid var(--color-title-bg);
}

.header__rec {
  display: flex;
  position: absolute;
  top: 25px;
  right: 48px;
  text-transform: uppercase;
  color: var(--color-title-bg);
}

.header__rec::after {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--color-title-bg);
  top: 5px;
  right: -19px;
  box-shadow: 0 0 4px 2px var(--color-title-bg);
}

.header {
  position: relative;
  display: grid;
  padding:  20px 20px 10px 20px;
  min-height: 768px;
  background-image: var(--page-bg-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__theme-menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.header__theme-menu-list {
  display: flex;
  gap: calc(var(--page-gap) / 2);
  justify-content: center;
  align-items: center;
  list-style: none;
  color: var(--color-title-bg);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  cursor: pointer;
  padding-inline: 11.5px;
  padding-block: 3px;
}

.header__theme-menu-button_active {
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:active {
  border: 1px solid currentColor;
}

.header__title {
  margin-block-start: 65px;
  margin-inline-start: -25px;
  font-size: var(--font-size-h1);
  align-self: center;
}

.title {
  color: var(--color-focus);
  text-shadow: 4px 4px var(--color-text-shadow);
}

.header__description-block {
  justify-self: end;
  align-self: center;
}

.header__description {
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-title-bg);
  color: var(--color-text-black);
  margin-block-end: 33px;
}
/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Секция "Почему посредоточиться так сложно?" ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.section__hard-to-concentrate {
  display: grid;
  gap: var(--page-gap);
  grid-template-columns: fit-content(32%) fit-content(68%);
  padding-top: 45px;
}

.section__hard-to-concentrate-title {
  grid-column-start: 1;
  grid-column-end: 2;
}

.section__hard-to-concentrate-description {
  display: grid;
  grid-template-rows: repeat(2, 244px);
  gap: 20px;
}

.section__hard-to-concentrate-description-multitasking {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 1;
  grid-row-end: 2;
}

.section__hard-to-concentrate-description-dopamine {
  grid-row-start: 2;
  font-size: 18px;
  font-weight: 400;
  grid-row-end: 3;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Секция "Что снижает концентрацию внимания?" ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.section__reduced-concentration {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  padding-block-start: 80px;
}

.section__reduced-concentration-title {
  grid-column-start: 1;
  grid-column-end: 1;
}

.section__reduced-concentration-description {
  display: grid;
  grid-template-columns: repeat(3, fit-content(32%));
  grid-template-rows: auto;
  gap: 20px;
}
.section__reduced-concentration-multitasking {
  font-size: 18px;
  font-weight: 400;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.section__reduced-concentration-food {
  font-size: 18px;
  font-weight: 400;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.section__reduced-concentration-gadgets {
  font-size: 18px;
  font-weight: 400;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Секция "Как концентрироваться лучше, чем золотая рыбка"↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.section__gold-fish {
  display: grid;
  gap: var(--page-gap);
  grid-template-columns: fit-content(32%) fit-content(68%);
  padding-block-start: 80px;
}

.section__gold-fish-title {
  grid-column-start: 1;
  grid-column-end: 1;
}

.section__gold-fish-description {
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 20px;
}

.section__gold-fish-sky {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 2;
  grid-row-end: 3;
}

.section__gold-fish-music {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 3;
  grid-row-end: 4;
}

.section__gold-fish-walk {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 4;
  grid-row-end: 5;
}

.section__gold-fish-eat {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 5;
  grid-row-end: 6;
}

.section__gold-fish-read {
  font-size: 18px;
  font-weight: 400;
  grid-row-start: 6;
  grid-row-end: 7;
  letter-spacing: 1rem;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Секция "А можно в картинках?" ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.fourth__section {
  display: grid;
  padding-block-start: 80px;
  padding-block-end: 60px;
}

.images {
  display: grid;
  padding-top: 10px;
  gap: 20px;
  grid-template-columns: repeat(3, fit-content(33%));
  grid-template-rows: repeat(3, fit-content(33%));
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.img__sunset {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.img__icecream {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.img__tape {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.img__books {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.img__street {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Подвал ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

.footer {
  min-height: 768px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-bg);
}

.footer__title {
  font-size: var(--font-size-h1);
  line-height: 129.53px;
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Для разрешений меньше 1024  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

@media (width < 1024px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: end;
    margin-top: 23.5%;
  }

  .header__title {
    line-height: 99px;
    font-size: 120px;
  }

  .footer__title {
    line-height: 99px;
    font-size: 120px;
  }

  .header__description {
    width: 364px;
    font-size: 18px;
    font-weight: 700;
  }

  .section__hard-to-concentrate {
    display: grid;
    gap: var(--page-gap);
    grid-template-columns: 236px auto;
  }
}

/*↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓ Для разрешений меньше 768  ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*/

@media (width < 768px) {
  .header {
    padding: 10px;
  }

  .header__theme-menu-title {
    margin-block-start: 9.5vh;
    margin-inline-start: -1%;
  }

  .header__theme-menu-list {
    margin-block-start: 18%;
    margin-inline-end: 6px;
  }

  /* .header__rec {
    display: flex;
    position: absolute;
    top: 5px;
    right: 28px;
    text-transform: uppercase;
    color: var(--color-title-bg);
  } */

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .decorated-zone:before {
    bottom: 10px;
    left: 10px;
  }

  .header__theme-menu-text {
    inline-size: 100%;
    margin-block-start: 8vh;
    margin-block-end: 8.5vh;
  }

  .header__theme-menu-rec {
    top: 11px;
    right: 40px;
  }

  .main {
    gap: 50px;
  }

  .section__hard-to-concentrate {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .section__hard-to-concentrate-description {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .section__hard-to-concentrate-description-multitasking {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .section__hard-to-concentrate-description-dopamine {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .section__reduced-concentration {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto auto;
  }

  .section__reduced-concentration-description {
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }

  .section__reduced-concentration-multitasking {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .section__reduced-concentration-food {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .section__reduced-concentration-gadgets {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .width-limit {
    inline-size: auto;
  }

  .section__gold-fish {
    padding-inline: 10px;
    grid-template-columns: fit-content(100%);
    grid-template-rows: fit-content(32%) fit-content(68%);
  }

  .fourth__section {
    padding: 0 10px 40px;
    gap: 10px;
  }

  .images {
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(auto-fit, fit-content(100%));
    gap: 10px;
  }

  .img__sunset {
    grid-column: auto;
    grid-row: auto;
  }

  .img__icecream {
    grid-column: auto;
    grid-row: auto;
  }

  .img__tape {
    grid-column: auto;
    grid-row: auto;
  }

  .img__books {
    grid-column: auto;
    grid-row: auto;
  }

  .img__street {
    grid-column: auto;
    grid-row: auto;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    margin-block: 36.5vh;
  }
}
